*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  border-bottom: 2px solid #2c2c2c;
  padding: 20px 50px;
}
h1 {
  text-align: center;
}

header a{
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 50px;
}

.contant {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три колонки одинаковой ширины */
  width: 100%; /* Ширина на весь экран */
  gap: 20px; /* Отступы между карточками */
  padding: 20px; /* Дополнительный отступ внутри контейнера */
}

/* Адаптация для планшетов */
@media (max-width: 768px) {
  .contant {
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
  }
}

/* Адаптация для телефонов */
@media (max-width: 480px) {
  .contant {
    grid-template-columns: 1fr; /* Одна колонка */
  }
}



.post{
  /* width: 500px; */
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background: #598191;
  color: #000;
}

.post h2{
  margin-bottom: 20px;
}

.post p{
  margin-bottom: 10px;
}

.post a {
  color: #283c44;
}
.post a:hover {
  color: red;
}

.card-container-info{
  margin: 20px;
  padding: 20px;
  background: #598191;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
